<h2>Search Country</h2>
<hr>
<div class="row">
    <div class="col">
        <app-country-input 
        (onEnter)="search( $event )"
        (onDebounce)="suggestions( $event)"
        placeholder="Search Country">
       </app-country-input> <!-- EventEmitter 3. onEnter emit value  of searchParam from input component and 
                           pass it trough search(here) when calling the search method on this component(countryComponent)-->
    </div>
</div>
<ul *ngIf="showSuggested"
    class="list-group">
    <li *ngFor="let country of suggestedCountries" class="list-group-item list-group-item-action">
        <a [routerLink]="['/country', country.alpha2Code]" class="nav-link">{{country.name}}</a>
    </li>
    <li  class="list-group-item list-group-item-action" (click)="searchSuggested( searchParam)">
        <a class="nav-link"> Buscar "{{searchParam}}"</a>
    </li>
</ul>

<hr>

<div class="alert alert-warning" *ngIf="results">
    No results found for {{searchParam}}
</div>

<div class="row" *ngIf="countries.length">
    <div class="col">
       <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>